.menuText {
    -fx-text-fill: #212121;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-background-color: #CFD8DC;
    -fx-prompt-text-fill: #757575;
}

.menuButtons {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
}

.menuButtons:hover {
    -fx-background-color: #455A64;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.orderingButtons {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-text-alignment: left;
}

.orderingButtons:hover {
    -fx-background-color: #CFD8DC;
}

.createVUMDocument {
    -fx-background-color: #009688;
    -fx-border-radius: 16 16 16 16;
    -fx-background-radius: 16 16 16 16;
    -fx-text-fill: #FFFFFF;
}

.createVUMDocument:hover {
    -fx-cursor: hand;
}

.button:pressed {
    -fx-scale-x: 0.985;
}

#topToolBar {
    -fx-background-color: #455A64;
}

#leftToolBar {
    -fx-background-color: #607D8B;
}